<br><br>
<div>
  <table class="table table-striped">
    <thead>
      <tr style="text-align: center;">
        <th>Book ID</th>
        <th>Book Image</th>
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Book Price</th>
        <th>Details</th>
        <th>Purchase</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books" style="text-align: center;">
        <td>{{ book.id }}</td>
        <td>
        <div class="col-xs-4">
            <a class="nav-link" routerLink="{{book.url}}">
            <img src="{{ book.avatar }}" class="img-responsive right"
            style="width: 100px; image-rendering: pixelated; z-index: 1;"
            alt="logo image"></a>
        </div>
        </td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>${{ book.price }}</td>
        <td><button (click)="onSelectBook(book)">Details</button></td>
        <td><button (click)="onPurchaseBook(book)">Purchase</button></td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

  <!--  Receiving data from BookCheckoutComponent -->
  <app-book-checkout [receivedTotal]="total" [receivedPrice]="price"></app-book-checkout>

  <br>

  <div *ngIf="selectedBook" style="margin-left: 4em;">

    <h2>{{ selectedBook.title | uppercase }}</h2>

    <div class="col-xs-4">
        <img src="{{ selectedBook.avatar }}" class="img-responsive right"
        style="width: 100px; image-rendering: pixelated; z-index: 1;"
        alt="logo image">
    </div>
    <div><h4><span>Author : </span>{{selectedBook.author}}</h4></div>
    <div><h5><span>Price : $</span>{{selectedBook.price}}</h5></div>

  </div>
