<br><br>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Book Image</th>
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Book Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books" (click)="onSelectBook(book)">
        <td>{{ book.id }}</td>
        <td>
        <div class="col-xs-4">
            <a class="nav-link" routerLink="{{book.url}}">
            <img src="{{ book.avatar }}" class="img-responsive right"
            style="width: 100px; image-rendering: pixelated; z-index: 1;"
            alt="logo image"></a>
        </div>
        </td>
        <!-- <td>{{ book.avatar }}</td> -->
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>${{ book.price }}</td>
        <button>Details</button>
        <button>Purchase</button>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

<div *ngIf="selectedBook">

  <h2>{{selectedBook.title | uppercase}}</h2>

  <div><a class="nav-link" routerLink="{{selectedBook.url}}"></a></div>
  <div><h2><span>Author : </span>{{selectedBook.author}}</h2></div>
  <div><h2><span>Price : </span>{{selectedBook.price}}</h2></div>

</div>
