<div id="order">
    <div class="container">
        <div id="order-row" class="row justify-content-center align-items-center">
            <div id="order-column" class="col-md-6">
                <div id="order-box" class="col-md-12">
                  <h3 style="text-align: center;">Order Form</h3>
                    <form id="order-form" name="orderForm" class="form" action="" method="post">
                      <div class="form-group"> <!-- Full Name -->
                        <label for="full_name_id" class="control-label">Full Name</label>
                        <input type="text" class="form-control" id="full_name_id" name="fullName" [(ngModel)]="temp.fullName" placeholder="John Deer">
                      </div>
                      <div class="form-group"> <!-- Street 1 -->
                        <label for="street1_id" class="control-label">Street Address 1</label>
                        <input type="text" class="form-control" id="street1_id" name="street1" [(ngModel)]="temp.streetAddress1" placeholder="Street address, P.O. box, company name, c/o">
                      </div>
                      <div class="form-group"> <!-- Street 2 -->
                        <label for="street2_id" class="control-label">Street Address 2</label>
                        <input type="text" class="form-control" id="street2_id" name="street2" [(ngModel)]="temp.streetAddress2" placeholder="Apartment, suite, unit, building, floor, etc.">
                      </div>
                      <div class="form-group"> <!-- City-->
                        <label for="city_id" class="control-label">City</label>
                        <input type="text" class="form-control" id="city_id" name="city" [(ngModel)]="temp.city" placeholder="Smallville">
                      </div>
                      <div class="form-group"> <!-- State Button -->
                        <label for="state_id" class="control-label">State</label>
                        <select class="form-control" id="state" name="state" [(ngModel)]="temp.state">
                          <option value="AL">Alabama</option>
                          <option value="AK">Alaska</option>
                          <option value="AZ">Arizona</option>
                          <option value="AR">Arkansas</option>
                          <option value="CA">California</option>
                          <option value="CO">Colorado</option>
                          <option value="CT">Connecticut</option>
                          <option value="DE">Delaware</option>
                          <option value="DC">District Of Columbia</option>
                          <option value="FL">Florida</option>
                          <option value="GA">Georgia</option>
                          <option value="HI">Hawaii</option>
                          <option value="ID">Idaho</option>
                          <option value="IL">Illinois</option>
                          <option value="IN">Indiana</option>
                          <option value="IA">Iowa</option>
                          <option value="KS">Kansas</option>
                          <option value="KY">Kentucky</option>
                          <option value="LA">Louisiana</option>
                          <option value="ME">Maine</option>
                          <option value="MD">Maryland</option>
                          <option value="MA">Massachusetts</option>
                          <option value="MI">Michigan</option>
                          <option value="MN">Minnesota</option>
                          <option value="MS">Mississippi</option>
                          <option value="MO">Missouri</option>
                          <option value="MT">Montana</option>
                          <option value="NE">Nebraska</option>
                          <option value="NV">Nevada</option>
                          <option value="NH">New Hampshire</option>
                          <option value="NJ">New Jersey</option>
                          <option value="NM">New Mexico</option>
                          <option value="NY">New York</option>
                          <option value="NC">North Carolina</option>
                          <option value="ND">North Dakota</option>
                          <option value="OH">Ohio</option>
                          <option value="OK">Oklahoma</option>
                          <option value="OR">Oregon</option>
                          <option value="PA">Pennsylvania</option>
                          <option value="RI">Rhode Island</option>
                          <option value="SC">South Carolina</option>
                          <option value="SD">South Dakota</option>
                          <option value="TN">Tennessee</option>
                          <option value="TX">Texas</option>
                          <option value="UT">Utah</option>
                          <option value="VT">Vermont</option>
                          <option value="VA">Virginia</option>
                          <option value="WA">Washington</option>
                          <option value="WV">West Virginia</option>
                          <option value="WI">Wisconsin</option>
                          <option value="WY">Wyoming</option>
                        </select>
                      </div>
                  </form>
                  <h5 style="text-align: center;">Credit Card Information</h5>
                  <div class="Container_credit_card">
                      <div class="row ">
                          <div class="col-md-12">
                              <input type="text" class="form-control" id="carNumber" name="cardNumber" [(ngModel)]="temp.cardNumber" placeholder="Enter Card Number" />
                          </div>
                      </div>
                 <div class="row ">
                          <div class="col-md-3 col-sm-3 col-xs-3">
                              <span class="help-block text-muted small-font" > Expiry Month</span>
                              <input type="text" class="form-control" id="month" name="month" [(ngModel)]="temp.month" placeholder="MM" />
                          </div>
                     <div class="col-md-3 col-sm-3 col-xs-3">
                              <span class="help-block text-muted small-font" >  Expiry Year</span>
                              <input type="text" class="form-control" id="year" name="year" [(ngModel)]="temp.year" placeholder="YY" />
                          </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font" >  CCV</span>
                        <input type="text" class="form-control" id="ccv" name="ccv" [(ngModel)]="temp.ccv" placeholder="CCV" />
                    </div>
                 </div>
                 <div class="row ">
                          <div class="col-md-12 pad-adjust">
                              <input type="text" class="form-control" id="nameOnCard" name="nameOnCard" [(ngModel)]="temp.nameOnCard" placeholder="Name On The Card" />
                          </div>
                      </div>
                 <div class="row">
            <div class="col-md-12 pad-adjust"><br /><br />
                <div class="checkbox">
                <label>
                  <input type="checkbox" checked class="text-muted"> Save details for fast payments <a href="#"> learn how ?</a>
                </label>
              </div>
            </div>
                 </div>
                   <div class="row ">
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                             <input type="submit"  class="btn btn-danger" (click)="onCancel()" value="CANCEL" />
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                              <input type="submit" class="btn btn-success btn-block" (click)="saveOrder()" value="PAY NOW" />
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
