<div style="margin-top: 50px; margin-left: 50px;">
     <img src="/assets/van_halen.jpeg" class="img-responsive right"
        style="width: 300px; image-rendering: pixelated; z-index: 1;"
        alt="cat-in-the-hat image" />

        <br><br>

        <h3>Van Halen : A Visual History : 1978 - 1084</h3>

        <p style="float: right;">
            From their eponymous 1978 debut through their colossal 1984 album (they've sold over 75 million albums worldwide),
            Van Halen rewrote all the rules. Nobody rocked—or partied—harder. Photographer Neil Zlozower first met the band in
            1978, worked with them again on Van Halen II, and soon became their friend, hanging out in L.A. and hitting the road
            on tour with them. Van Halen collects more than 250 backstage, candid, and full rock-out photos of the all-powerful,
            spandexed, high-kicking, guitar blazing, stadium-shaking, original Van Halen lineup. Accompanying Zlozower's amazing
            photos are an introduction about his wild ride with VH, a foreword by David Lee Roth, and testimony from the rock
            pantheon paying homage to the band, including members of Led Zeppelin, Guns N' Roses, Def Leppard, Judas Priest,
            KISS, Motley Crüe, and more. Turn it up!
        </p>
        <p style="float: right;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
  </div>
