  <br><br>
  <form (ngSubmit)="addBook()">
    <div class="form-group">
        <label>Book Title</label>
        <input [(ngModel)]="temp.title"
        type="text" class="form-control"
        placeholder="Book Title ..." name="bookTitle">
        <label>Book Author</label>
        <input [(ngModel)]="temp.author"
        type="text" class="form-control"
        placeholder="Book Author ..." name="bookAuthor">
        <label>Book Price</label>
        <input [(ngModel)]="temp.price"
        type="text" class="form-control"
        placeholder="Book Price ..." name="bookPrice">
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>
