<div style="margin-top: 50px; margin-left: 50px;">
    <p><img src="/assets/superman2.png"
       class="img-responsive right"
      style="width: 300px; image-rendering: pixelated; z-index: 1;"
      alt="superman image" />
    </p>

    <h3 style="margin-left: 12em;">SUPERMAN LIVES</h3>

    <p style="margin-left: 22em; padding-right: 35em;">
        As an unknown alien warship, unnoticed and unchallenged, approaches the Earth, the world still doesn't
        know who--if any--of the four replacement Supermen is the real Man of Steel. Though each of them have
        their own claim to the title, two are beginning to show their true colors when they begin to battle
        the others for supremacy. Unknown to all, the true Superman--recently restored by a Kryptonian regeneration
        matrix--begins to plot his homecoming. But will he be too late to save Coast City from the clutches of a
        traitor and the return of the alien warlord, Mongul?
    </p>
  </div>
