<!--<div class="container">
    <div class="row">-->
      <!-- <div class="col-xs-8">
        <h2 class="section-headline"><span>HOME</span></h2>
      </div> -->
      <!-- <div class="col-xs-4">
        <img src="../../../assets/book_store.jpeg" class="img-responsive right"
        style="width: 400px; image-rendering: pixelated; z-index: 1; border; 5"
        alt="logo image">
      </div> -->
      <!-- <img src="../../../assets/image/wood.png" class="img-responsive right" style="width: 400px; z-index: 1;"
        alt="wood image" style="position: absolute; margin-top: 90px; z-index: -2;"> -->
    <!--</div>-->

    <!-- <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                  <a class="pointer" routerLink="/bookList">
                    <img src="../../../assets/book_store.jpeg" class="img-responsive">
                </div>
            </div>
        </div>
    </div> -->
  <!--</div>-->

  <section id="home" style="background: url(/assets/bookshelf.png); background-size: 100% 90%;">
    <div class="container">
      <div class="row">
          <div class="container_test">
              <div class="jumbotron">
                <h1 class="display-4">Welcome to</h1>
                <h1 class="display-4">Cricket's Book Store</h1>
              </div>
          </div>
      </div>
    </div>
  </section>

