<div class="container">
    <div class="row">
      <!-- <div class="col-xs-8">
        <h2 class="section-headline"><span>HOME</span></h2>
      </div> -->
      <div class="col-xs-4">
        <img src="../../../assets/book_store.jpeg" class="img-responsive right" 
        style="width: 400px; image-rendering: pixelated; z-index: 1; border; 5"
        alt="logo image">
      </div>
      <!-- <img src="../../../assets/image/wood.png" class="img-responsive right" style="width: 400px; z-index: 1;"
        alt="wood image" style="position: absolute; margin-top: 90px; z-index: -2;"> -->
    </div>

    <!-- <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                  <a class="pointer" routerLink="/bookList">
                    <img src="../../../assets/book_store.jpeg" class="img-responsive">
                </div>
            </div>
        </div>
    </div> -->
  </div>
