<div style="margin-top: 50px; margin-left: 50px;">
   <p><img src="/assets/cat_in_the_hat.jpeg" class="img-responsive right"
      style="width: 300px; image-rendering: pixelated; z-index: 1;"
      alt="cat-in-the-hat image" />
   </p>

    <h3 style="margin-left: 12em;">The Cat in the Hat</h3>

    <p style="margin-left: 22em; padding-right: 35em;">
        Poor Dick and Sally. It's cold and wet and they're stuck in the house with nothing to do . . .
        until a giant cat in a hat shows up, transforming the dull day into a madcap adventure and almost
        wrecking the place in the process! Written by Dr. Seuss in 1957 in response to the concern that "pallid
        primers [with] abnormally courteous, unnaturally clean boys and girls' were leading to growing illiteracy
        among children, The Cat in the Hat (the first Random House Beginner Book) changed the way our children learn
        how to read.
    </p>
</div>
